# Only for Docker Deployment

BOT_TOKEN=your_bot_token # Get it from @botfather

API_ID=your_api_id

API_HASH=your_api_hash

SUDO_USERS_ID= 1432756163, 1344569458, 1355478165, 1789859817,  1777340882,# Sudo users have full access to everythin, don't trust anyone

LOG_GROUP_ID=-1001559501403

GBAN_LOG_GROUP_ID=-1001559501403

MESSAGE_DUMP_CHAT=

WELCOME_DELAY_KICK_SEC=300 # Edit if u want

MONGO_URL=your_mongodb_url

LOG_MENTIONS=0 # Make it 1 if you want to enable it

RSS_DELAY=300 # In seconds

